body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container{
    margin: 0%;
    height: 100%;
    padding: 25px;
}

.row{
    height: 100%;
}

.productos{
    
}

.pedidos{
    border: 2px solid gray;
    box-sizing: border-box;
    height: 500px;
    overflow-y: auto;
}

/* Define el tamaño del select */
.choices__inner {
    min-width: 80px;
    max-width: 100px;
    padding: 4px 8px;
}

/* Controla la altura máxima del menú desplegable */
.choices__list--dropdown .choices__list {
    max-height: 150px; /* Solo se muestran 5 elementos aproximadamente */
    overflow-y: auto; /* Permite desplazarse para ver más elementos */
}

/* Estilo para los elementos del menú desplegable */
.choices__list--dropdown .choices__item--selectable {
    padding: 8px;
    font-size: 14px;
}

/* Ajuste para evitar el solapamiento de los números */
.choices__list--dropdown .choices__item--selectable {
    line-height: 1.5; /* Aumenta el espacio entre los números */
    white-space: nowrap; /* Evita que el texto se envuelva */
}
