body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container{
    margin: 0%;
    height: 100%;
    padding: 25px;
}

.row{
    height: 100%;
}

.productos{
    
}

.pedidos{
    border: 2px solid gray;
    box-sizing: border-box;
    height: 500px;
    overflow-y: auto;
}


.choices__list--dropdown {
    max-height: 150px; 
    overflow-y: auto;
}

.choices__item--selectable {
    padding: 8px;
    font-size: 15px;
    white-space: nowrap; 
}

.limited-select-container {
    min-width: 80px;
    max-width: 100px;
}

.limited-select-inner {
    padding: 4px 8px;
}

