<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">          
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Inicio</a>
          </li>

          {% if current_user.is_authenticated and current_user|tiene_permiso('mostrar_productos') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('productos.add_productos') }}">Agregar Productos</a>
          </li>
          {% endif %}

          {% if current_user.is_authenticated and current_user|tiene_permiso('mostrar_categorias') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('categorias.add') }}">Agregar Categorias</a>
          </li>
          {% endif %}

          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('permisos.tabla_permisos') }}">Tabla de Permisos</a>
          </li>   
          

        </ul>
      </div>
      <div class="d-flex justify-content-end align-items-center mb-3">
        <span class="me-3">Bienvenido, <strong>{{ current_user.username }}</strong></span>
        <a href="{{ url_for('usuarios.logout') }}" class="btn btn-outline-danger btn-sm">Cerrar sesión</a>
      </div>      
      <div class="d-flex justify-content-end align-items-center mb-4">
        
        
        </span>

      </div>
    </div>
  </nav>
  
  
  
  