<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Productos</h1>
    
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
    <form action="{{ url_for('categorias.add') }}" method="POST">
        <h3>Agregar Categoria</h3>
        <input type="text" name="nombre" placeholder="categorias" required>
        <button>Guardar</button>
    </form>
    <div>
    
        <div>
            <h2>Listar Categorias</h2>
            {% for categoria in categorias %}
            <div>
                <p>{{ categoria.nombre }}</p>
                <div>
                    <a href="{{ url_for('categorias.update', id=categoria.id) }}">Actualizar</a>
                    <a href="{{ url_for('categorias.delete', id=categoria.id) }}">Eliminar</a>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    
    <form action="{{ url_for('productos.add_productos') }}" method="POST">
        <h3>Agregar Producto</h3>
        <input type="text" name="nombre" placeholder="nombre" required>
        <input type="text" name="precio" placeholder="precio" required>
        <select name="categoria" id="" required>
            <option value="">Seleccionar</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
            {% endfor %}
        </select>
        <button>Guardar</button>
    </form>

    <div>
    
        <div>
            <h2>Listar Productos</h2>
            {% for producto in productos %}
            <div>
                <p>{{ producto.nombre }}</p>
                <p>{{ producto.precio }}</p>
                <p>{{ producto.categoria }}</p>
                <div>
                    <a href="{{ url_for('productos.update_productos', id=producto.id) }}">
                        <button>Actualizar</button>
                    </a>
                    <form action="{{ url_for('productos.delete_productos', id=producto.id) }}" method="POST" style="display: inline;">
                        <button type="submit">Eliminar</button>
                    </form>   
                    
                    <form action="{{ url_for('pedidos.agregar_producto_a_pedido', producto_id=producto.id) }}" method="POST">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" name="cantidad" value="1" min="1" required>
                        <button type="submit">Agregar al Pedido</button>
                    </form>
                    
                </div>
            </div>
            {% endfor %}
        </div>

    <!-- {% block body %}

    {% endblock %} -->
</body>
</html>