<!-- {% extends 'layout.html' %}

{% block body %}

<form action="/add" method="POST">
    <h3>Agregar Producto</h3>
    <input type="text" name="nombre" placeholder="nombre" required>
    <input type="text" name="precio" placeholder="precio" required>
    <select name="categoria" id="">
        {% for categoria in categorias %}
            <option value="{{ categoria.nombre }}"></option>
        {% endfor %}
    </select>
    <button>Guardar</button>
</form>
<div>

    <div>
        <h2>Listar Productos</h2>
        {% for categoria in categorias %}
        <div>
            <p>{{ categoria.nombre }}</p>
            <p></p>
            <p></p>
            <div>
                <a href="{{ url_for('categorias.update', id=categoria.id) }}">Actualizar</a>
                <a href="{{ url_for('categorias.delete', id=categoria.id) }}">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %} -->